@model LabCourse1.Models.LocationModel

<h4>LocationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shteti" class="control-label"></label>
                <input asp-for="Shteti" class="form-control" />
                <span asp-validation-for="Shteti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qyteti" class="control-label"></label>
                <input asp-for="Qyteti" class="form-control" />
                <span asp-validation-for="Qyteti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipKodi" class="control-label"></label>
                <input asp-for="ZipKodi" class="form-control" />
                <span asp-validation-for="ZipKodi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
